*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}
body{
    background-color: white;
    color:#000;
    line-height: 1.5;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    color:#262626;
}
ul{
    list-style: none;
}
.logo{
    width: 120px;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 25px;
}
.main-nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.main-menu{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.main-menu li{
    padding-left: 30px;
    font-size: 0.9rem;
    margin-bottom: 6px;
}
.main-menu li a{
    padding-bottom: 3px;
}
.main-menu li a:hover{
    border-bottom: 2px solid #262626;
}
.side-menu{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}
.side-menu li{
    padding-right: 30px;
    margin-bottom: 6px;
}
.btn{
    border: 0px;
    color: white;
    background-color: #000;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    margin-top: 25px;
}
.btn:hover{
    background-color: #262626;
}
.showcase{
    width: 100%;
    height:420px;
    background:url("/Images/slide1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 55px;
}
.showcase h2, .showcase p{
    margin-bottom: 10px;
}